<head>
    <title>Consultas Air Travel</title>
    
  
</head>
<body>

    {% include 'layout.html' %}


      <div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h3 class="text-light" align="center">Consultas</h3>
                </div>
                <div class="menu">
                    <!--normal abajo-->
                    <div class="container">
                    <div class="row">
                        <div class="card col-md-12 animated fadeInLeft">
                            <h5 class="card-header text-white bg-success">CONSULTAR INFORMACION DE UN PASAJERO</h5>
                            <div class="card-body col-12 ">
                            <h5 class="card-text">Consulte aquí la información relacionada a uno o más pasajeros o empleados de la empresa. 
                                <div align="right">
                                    <button href="#" class="btn btn-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg> Buscar
                                    </button>
                                </div>
                                </h5>
                            </div>
                        </div>
                        </div>
                    </div><br>

                    <div class="container">
                        <div class="row">
                            <div class="card col-md-12 animated fadeInLeft">
                                <h5 class="card-header text-white bg-warning">CONSULTAR INFORMACION DE UN PASAJERO</h5>
                                <div class="card-body col-12 ">
                                <h5 class="card-text">Consulte aquí la información relacionada a uno o más pasajeros o empleados de la empresa. 
                                    <div align="right">
                                        <button href="#" class="btn btn-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg> Buscar
                                        </button>
                                    </div>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div><br>

                    <div class="container">
                        <div class="row">
                            <div class="card col-md-12 animated fadeInLeft">
                                <h5 class="card-header text-white bg-warning">CONSULTAR INFORMACION DE UN PASAJERO</h5>
                                <div class="card-body col-12 ">
                                <h5 class="card-text">Consulte aquí la información relacionada a uno o más pasajeros o empleados de la empresa. 
                                    <div align="right">
                                        <button href="#" class="btn btn-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg> Buscar
                                        </button>
                                    </div>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    </div>
                    </div>
                    </div>
  </body>
                        