{% extends 'layout.html' %}

{% block body%}



<head>
  <title>Air Travel - Turismo</title>
  

</head>
<body>


<br><div class="container text-center col-9">
    <h1>BIENVENIDO AL SISTEMA DE GESTION DE LA BASE DE DATOS DE AIR TRAVEL TURISMO</h1>
  </div><br>

  <div class="container">
    <div class="row">
      <br><div class="col-6"> <h5>Este es un aplicativo web que administra el uso de la base de datos de  la 
        Aerolinea Colombiana AIR TRAVEL </h5> <br>
        <h5> Aquí podrá  consultar la informacion de:</h5><br>
        <ul>
          <li><h5>Pasajeros</h5></li>
          <li><h5>Empleados</h5></li>
          <li><h5>Vuelos</h5></li>
          <li><h5>Aeronaves</h5></li>
          <li><h5>Rutas</h5></li>
        </ul><br>
        <h5>De igual forma podrá registrar, editar y eliminar datos en las diferentes tablas de la base de datos. </h5>
      </div>
      <div class="col-6">
        <div class="card body">
          <div class="container m-2">
            <img src="static/images/interior2.jpg" alt="" style="width: 480px; height: 270px;">
          </div>
          
        </div>
       
      </div>
    </div>
   
   
  </div><br><br>
  </div>
    

  <footer style="text-align: center;">
    <h4>Todos los derechos reservados ©</h4>
  </footer>

</body>



{% endblock%}