<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Registro - Air Travel </title>
    
</head>
<body>
    
    {% include 'layout.html' %}

    
      <div class="sidebar-container" style="float:left; width: 23%; height: 1500px;">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h3 class="text-light" align="center">Registro</h3>
                </div>
                <div class="menu">
                    <div class="card animated fadeInLeft" style="width: 130%;">
                        <div class="card-body bg-warning">
                            <a href="formpasajero.html" class="d-block text-light"  target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill mr-3 lead" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>Registrar un pasajero</a>
                        </div>
                      </div>
                      <div class="card animated fadeInRight" style="width: 130%;">
                        <div class="card-body bg-white">
                            <a href="formruta.html" class="d-block text-primary"  target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-split-fill mr-3 lead text-primary" viewBox="0 0 16 16">
                                <path d="M7 16h2V6h5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.8 2.4A1 1 0 0 0 14 2H9v-.586a1 1 0 0 0-2 0V7H2a1 1 0 0 0-.8.4L.225 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4h5v5z"/>
                              </svg>Registrar una ruta</a>
                        </div>
                      </div>
                     
                      <div class="card animated fadeInLeft" style="width: 130%;">
                        <div class="card-body bg-warning">
                            <a href="formempleado.html" class="d-block text-light "  target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill mr-3 lead" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>Registrar un empleado</a>
                        </div>
                      </div>
                      <div class="card animated fadeInRight" style="width: 130%;">
                        <div class="card-body bg-white">
                            <a href="formpasajeVuelo.html" class="d-block text-primary"  target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus mr-3 lead text-primary" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                              </svg>Registrar un nuevo pasaje</a>
                        </div>
                      </div>
                    
                      <div class="card animated fadeInLeft" style="width: 130%;">
                        <div class="card-body bg-warning">
                            <a href="formmarca.html" class="d-block text-light"  target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus-fill mr-3 lead" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
                              </svg>Registrar una marca</a>
                        </div>
                      </div>
                      <div class="card animated  fadeInRight" style="width: 130%;">
                        <div class="card-body bg-white">
                            <a href="formavion.html" class="d-block text-primary"  target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill mr-3 lead text-primary" lead viewBox="0 0 16 16">
                                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                              </svg> Registrar un avion</a>
                        </div>
                      </div>
                      <div class="card animated fadeInLeft" style="width: 130%;">
                        <div class="card-body bg-warning">
                            <a href="" class="d-block text-light"  target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill mr-3 lead" viewBox="0 0 16 16">
                                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                              </svg> Registrar un vuelo</a>
                        </div>
                      </div>
                      <div class="card animated fadeInRight" style="width: 130%;">
                        <div class="card-body bg-white">
                            <a href="formestadovuelo.html" class="d-block text-primary " target="campo_formularios"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill mr-3 lead text-primary" viewBox="0 0 16 16">
                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                              </svg> Registrar un estado de vuelo</a>
                        </div>
                      </div>
                      <div class="card animated fadeInLeft" style="width: 130%;">
                        <div class="card-body bg-warning">
                            <a href="formcargo.html" class="d-block text-light"  target="campo_formularios"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer mr-3 lead" viewBox="0 0 16 16">
                                <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                              </svg> Registrar un cargo de empleados</a>
                        </div>
                      </div>
                </div>
            </div>

    </div>

    
    <iframe frameborder="0px" padding="0px" name="campo_formularios" height="1500px" width="75%" class="m-2" style=" padding: 0%" scrolling = "no" >

      </iframe>
   

</body>
</html>


